// Adding custom imports here

@import "./assets/style/variables.scss";

// Custom Theming for Angular Material

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$mat-primary: (
  main: $hack-primary,
  lighter: #fcd9bd,
  darker: #f06315,
  200: #f58023,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: $hack-accent,
  lighter: #b8c1cd,
  darker: #0b1f3d,
  200: #133158,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

//Reset
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $hack-background;
}
p {
  margin: 0;
  padding: 0;
}

// Flex box utilities

.flex-container {
  display: flex;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-row {
  flex-direction: row;
}
.align-center {
  align-items: center;
  justify-content: center;
}
.align-hor-center {
  align-items: center;
}
.align-vert-center {
  justify-content: center;
}
.align-hor-space-between {
  justify-content: space-between;
}
.align-self-end {
  align-self: flex-end;
}

//Font utiltites

$font-colors: (
  "primary": $hack-primary,
  "accent": $hack-accent,
  "black": $hack-black,
  "lightgray": $hack-lightgray,
);
$font-weights: (
  "regular": $hack-font-regular,
  "light": $hack-font-light,
  "bold": $hack-font-bold,
);
$font-family: (
  "roboto": $hack-font,
);

$font-sizes: 10, 12, 14, 16, 20, 36;
@each $familyKey, $familyValue in $font-family {
  @each $size in $font-sizes {
    @each $colorKey, $colorValue in $font-colors {
      @each $weightKey, $weightValue in $font-weights {
        .font-#{$weightKey}-#{$size}-#{$colorKey} {
          font-size: #{$size}px;
          font-family: #{$familyValue};
          color: #{$colorValue};
          font-weight: $weightValue;
        }
      }
    }
  }
}

//Margin utilites
$margin-sides: (
  "mt": "margin-top",
  "mb": "margin-bottom",
  "ml": "margin-left",
  "mr": "margin-right",
);

$margin-sizes: 5, 10, 20, 30, 50;

@each $size in $margin-sizes {
  // use ml-10 for margin-left:10px, like wise mr-2, mt-6 and so on as per your use
  @each $key, $value in $margin-sides {
    .#{$key}-#{$size} {
      #{$value}: #{$size}px !important;
    }
  }

  // use margin-10 for margin:10px and so on
  .margin-#{$size} {
    margin: #{$size}px !important;
  }

  // use margin-horizontal-10 for margin:0px 10px and so on
  .margin-horizontal-#{$size} {
    margin: 0px #{$size}px !important;
  }

  // use margin-vertical-10 for margin:10px 0px and so on
  .margin-vertical-#{$size} {
    margin: #{$size}px 0px !important;
  }
}

//Padding utilities

$padding-sides: (
  "pt": "padding-top",
  "pb": "padding-bottom",
  "pl": "padding-left",
  "pr": "padding-right",
);

$padding-sizes: 5, 10, 20, 30, 50;

@each $size in $padding-sizes {
  // use pl-10 for padding-left:10px, like wise pr-2, pt-6 and so on as per your use
  @each $key, $value in $padding-sides {
    .#{$key}-#{$size} {
      #{$value}: #{$size}px !important;
    }
  }

  // use padding-10 for padding:10px and so on
  .padding-#{$size} {
    padding: #{$size}px !important;
  }

  // use padding-horizontal-10 for padding:0px 10px and so on
  .padding-horizontal-#{$size} {
    padding: 0px #{$size}px !important;
  }

  // use padding-vertical-10 for padding:10px 0px and so on
  .padding-vertical-#{$size} {
    padding: #{$size}px 0px !important;
  }
}
