//colors

$hack-background: #f1f6f6;
$hack-primary: #f58023;
$hack-primary-faded: #f09347;
$hack-accent: #133158;
$hack-black: #333333;
$hack-lightgray: #999999;
$hack-secondarygray: #d3d3d3;
$hack-white: #ffffff;
$hack-success: #10ac84;
$hack-error: #db4444;

//fonts

$hack-font: "Roboto", Arial, sans-serif;
$hack-font-regular: 400;
$hack-font-light: 300;
$hack-font-bold: 700;
